.manualPg,
.subheading,
.manualName,
.manualContainer,
.manualContainer p,
.manualPg,
.action,
.example {
  margin-top: 0;
  padding-top: 0;
}

/* .up {
  position: fixed;

  width: 400px;
  height: 60px;
  left: 50%;

  padding-inline: 40px;

  top: calc(50% - 450px);

  transform: translateX(-50%);

  background: linear-gradient(
  to bottom,
  #F3F6FF 70%,
  rgba(255, 255, 255, 0)
);
  z-index: 1000;
} */

.backBtn {
}

.subheading {
  font-weight: 700;
  font-size: 17px;
  text-align: left;
  letter-spacing: -5%;
  line-height: 17px;
  color: #5581de;

  margin-top: 10px;
  margin-bottom: 7px;
}

.manualName {
  font-weight: 800;
  font-size: 25px;
  text-align: left;
  letter-spacing: -5%;
  line-height: 27px;
  color: #0044cd;

  margin-bottom: 25px;
}

.manualContainer {
  margin-bottom: 40px;
}

.manualContainer p {
  font-weight: 500;
  font-size: 17px;
  text-align: left;
  letter-spacing: -5%;
  line-height: 27px;
  color: #0b2a74;

  margin-bottom: 12px;
}

.manualPg {
}

.actionContainer {
}

.action {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;

  font-weight: 800;
  font-size: 17px;
  text-align: left;
  letter-spacing: -5%;
  line-height: 27px;
  color: #0b2a74;
}

.action li {
  margin-bottom: 5px;
  font-weight: 700;
}

.action p {
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
  line-height: 23px;

  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 15px;
}

.subheading2 {
  font-weight: 800;
  font-size: 17px;
  text-align: left;
  letter-spacing: -5%;
  line-height: 27px;
  color: #0044cd;

  margin-top: 24px;
  margin-bottom: 12px;
}

.buttonsManualPg {
  position: fixed;

  width: 400px;
  height: 80px;
  left: 50%;

  padding-top: 20px;
  padding-inline: 20px;

  top: calc(50% - 450px);

  transform: translateX(-50%);

  background: linear-gradient(to bottom, #f3f6ff 70%, rgba(255, 255, 255, 0));
  z-index: 1000;
}

.buttonsManualPg button {
  background-color: #f3f6ff;
  border: none;
  width: 40px;
  height: 40px;
}

#backBtn img {
  width: 10px;
  height: 17px;
  border-radius: 10px;
}

/* 뒤로 가기 버튼 */
#backBtn {
}
#backBtn:active {
  /* background: #333; */
}

.space {
  height: 20px;
}
.space2 {
  height: 30px;
}
.space3 {
  height: 30px;
}
