@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2')
    format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2')
    format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.phone {
  width: 400px;
  aspect-ratio: 400 / 872;
  padding: 40px;
  background: #f3f6ff;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  font-family: 'Pretendard', sans-serif;

  overflow-y: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.phone::-webkit-scrollbar {
  display: none;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  text-align: left;
  letter-spacing: -5%;
  line-height: 40px;
}

h2 {
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  letter-spacing: -5%;
  line-height: 35px;
}

/* 시작 화면 글자 배치 부분 */
.startPg {
  width: 100%;
  align-self: flex-start;
}

ul {
  list-style: none;
}

li::before {
  content: '•';
  color: #333;
  font-size: 20px;
  margin-right: 8px;
}

/* 시작 버튼 */
.startBtn {
  width: 100%;
  bottom: 20px;

  border-radius: 10px;
  padding: 15px;

  font-size: 15px;
  font-weight: 600;
}
.startBtn:active {
  background: #333;
}
